# Database 환경변수
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=

# Kakao 로그인
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=
AUTHORIZATION_URI=
TOKEN_URI=
USER_INFO_URI=

# App 설정
AUTH_SERVICE_REDIRECT_URI=
AUTH_REGISTRATION_REDIRECT_URI=
AUTH_ONBOARDING_REDIRECT_URI=
AUTH_COOKIE_SECURE=
AUTH_COOKIE_SAME_SITE=
AUTH_ALLOWED_ORIGINS=